# OS Files
*.DS_Store

# IDE files
.idea/

# Python build files
*__pycache__*
*.pyc
.eggs/
*.egg-info/
build/
dist/

# Testing cache files
.pytest_cache/

# Built Docs
docs/build

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints/
