.cache/
.eggs/
.idea/
build/
dist/
pwv_kpno.egg-info/
pwv_kpno-*/
pwv_kpno/__pycache__/
pwv_kpno/spect_20150708_matheson/
scrap_work/

tests/*.csv
tests/*.plt

*.checkpoint.ipynb

*.pyc
*.DS_Store
*stackdump

profile_tests.py