# Distribution / packaging / building
*.pyc
env/
build/
dist/
.eggs/
pwv_kpno.egg-info/
pwv_kpno-*/
pwv_kpno/__pycache__/

# Unit tests / coverage reports
.cache/

# IDE / Notebook files
*.ipynb
.idea/

# Opperating system files
*.DS_Store

# Used by developer for data analysis
analysis_plotting/
create_figures.py
figs/
