language: python

os:
  - linux

matrix:
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  - "pip install coveralls"
  - "pip install pytest-cov"

install:
  - "python setup.py install"

script:
  - "pytest --cov=pwv_kpno/"

after_success:
  - "coveralls"
