.warning {
    background-color: rgba(244, 247, 23, 0.36);
    color: #000000;
    margin: 0 20px 0 20px  !important;
}

.note {
    background-color: rgba(46, 130, 224, 0.36);
    color: #000000;
    margin: 0 20px 0 20px  !important;
}

.highlighttable {
    margin: 0 20px 0 20px  !important;
}

body {
    color: #444444 !important;
    text-align: justify;
}

.bs-sidenav {
    text-align: left;
}

footer {
    background-color: #f5f5f5 !important;
    padding: 20px 0 !important;
}

a.reference {
    color: #2c4f73 !important;
    padding: 20px 0;
}

/* Controls all inline code plus first line of autodoc */
code {
    color: #49759c !important;
    background-color: #f5f5f5 !important;
}

/* Controls first line of autodoc */
code.descname, code.descclassname {
    color: #444444 !important;
    background-color: #f5f5f5 !important;
}

/* Controls function name in first line of autodoc */
code.descclassname + code.descname {
    margin-left: -6px;
    padding-left: 0;
}

dl.function {
    background-color: #f5f5f5 !important;
    padding: 10px;
}

table.highlighttable {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  text-align: right;
}

.row {
    padding-bottom: 50px;
}

table.badges td {
  text-align: center !important;
    border: 0 !important;
}

.figure.logo {
    max-width: 800px;
}

.figure.validation-figure {
    max-width: 80%;
}